.label {
    display: flex;
    flex-direction: column;
    gap: var(--size-sm);

    position: relative;

    .text {
        font: var(--font-heading-h3);

        &::after {
            content: '*';
            margin-left: var(--size-xs);
            color: var(--primary-400);
            font: var(--body-lg-r);
        }
    }

    .input {
        font: var(--body-lg-r);
        background-color: unset;
        color: var(--neutral-400);

        border: 1px solid currentColor;
        border-radius: var(--size-s);

        padding: var(--size-m) var(--size-xxml) var(--size-m) var(--size-sm);

        transition: var(--transition);
        
        &:hover {
            color: var(--neutral-600);

            &:placeholder-shown {
                color: var(--neutral-600);
            }
        }        
       
        &:focus-visible {
            outline-color: var(--neutral-800);
            background-color: var(--neutral-0);
            border-color: var(--neutral-0);
            caret-color: var(--neutral-800);
            color: var(--neutral-800);

            &:placeholder-shown {
                color: var(--neutral-600);
            }
        }

        &:not(:placeholder-shown) {
            color: var(--neutral-800);
            border-color: var(--neutral-400);
        }
        &:focus:not(:placeholder-shown) {
            border-color: transparent;
            outline-color: var(--neutral-800);
        }
    }

    .close {
        position: absolute;
        bottom: var(--size-m);
        right: var(--size-sm);
        translate: -1px -1px;

        transition: var(--transition);

        border-radius: var(--size-xs);

        height: var(--size-l);
        aspect-ratio: 1;
        padding: 0;

        color: var(--neutral-500);

        opacity: 0;
        pointer-events: none;

        &:hover {
            color: var(--neutral-800);
        }

        &:focus-visible {
            outline-color: var(--neutral-800);
        }

        & > svg {
            transition: fill var(--transition);
        }
    }
        
    .input:not(:placeholder-shown) + .close {
        pointer-events: auto;
        opacity: 1;
    }

}