.link {
    cursor: pointer;

    color: var(--neutral-0);
    background-color: var(--neutral-800);
    border-radius: var(--size-s);

    width: 100%;
    padding: var(--size-s);
    box-shadow: var(--box-shadow-base);

    transition: var(--transition);

    &:not(:last-child) {
        margin-bottom: var(--size-ml);
    }

    &:hover {
        color: var(--neutral-0);
        background-color: var(--neutral-700);
        fill: currentColor;
        box-shadow: var(--box-shadow-hover);
    }

    &:focus-visible {
        background-color: var(--neutral-700);
        outline: none;
        box-shadow: 0 0 0 2px light-dark(var(--base-white), var(--neutral-0)), 0 0 0 4px var(--neutral-900), var(--box-shadow-hover);
    }

    .label {
        height: 24px;

        display: flex;
        align-items: center;
        gap: var(--size-s);

        font: var(--body-md-sb);
    }
}