.button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--size-xxl);
    aspect-ratio: 1;
    padding: 0;

    border-radius: var(--size-s);
    cursor: pointer;
    color: var(--neutral-600);

    transition: background-color var(--transition-duration), color var(--transition-duration), box-shadow    var(--transition-duration);

    &:hover {
        background-color: var(--neutral-300);
        box-shadow: var(--box-shadow-sm-hover);
    }

    &:focus-visible {
        background-color: var(--neutral-300);
        outline: none;
        box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
    }

    &:has(:checked),
    &:active {
        background-color: var(--neutral-200);
        outline: none;
        box-shadow: var(--box-shadow-sm);
        cursor: default;
    }

    &:has(:checked:focus-visible) {
        box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
    }

    .radio {
        scale: 0;
        position: absolute;
    }

    svg {
        transition: fill var(--transition-duration);
    }
}

.button[data-priority="2"] {
    color: var(--secondary-400);

    &:hover {
        background-color: var(--secondary-100);
    }

    &:focus-visible {
        background-color: var(--secondary-100);
    }

    &:has(:checked),
    &:active {
        background-color: var(--secondary-0);
    }
}

.button[data-priority="3"] {
    color: var(--primary-400);

    &:hover {
        background-color: var(--primary-100);
    }

    &:focus-visible {
        background-color: var(--primary-100);
    }

    &:has(:checked),
    &:active {
        background-color: var(--primary-0);
    }
}