.button {
    background-color: var(--primary-400);
    color: light-dark(var(--neutral-0), var(--neutral-900));
    border-radius: var(--size-s);
    min-width: 108px;
    width: fit-content;
    padding: var(--size-s) var(--size-sm) var(--size-s) var(--size-sm);
    box-shadow: var(--box-shadow-base);

    transition: color var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration), outline-color var(--transition-duration);

    &:not([disabled]):hover {
        background-color: var(--base-primary-500);
    }

    &:focus-visible {
        background-color: var(--base-primary-500);
        outline: none;
        box-shadow: 0 0 0 2px var(--base-900), 0 0 0 4px var(--base-white), var(--box-shadow-base);
    }

    &:not([disabled]):active {
        background-color: var(--primary-300);
    }

    &:not([disabled])[loading] {
        background-color: var(--primary-300);
    }

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
    }

    .label {
        width: fit-content;
        height: var(--size-l);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--size-s);

        font: var(--body-md-sb);

        .text {
            padding-right: var(--size-xs);
            text-align: left;
            white-space: nowrap;
        }

        svg {
            width: var(--size-l);
            height: var(--size-l);
        }
    }
}

.button[customize="primary"] {
    background-color: var(--neutral-800);
    color: var(--neutral-0);
    padding: var(--size-sm) var(--size-m);
    font: var(--body-lg-sb);
    min-width: unset;

    &:not([disabled]):hover {
        background-color: var(--neutral-700);
        box-shadow: var(--box-shadow-hover);
    }

    &:focus-visible:hover,
    &:focus-visible {
        background-color: var(--neutral-700);
        box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
    }

    &:not([disabled]):active {
        background-color: var(--neutral-600);
        box-shadow: unset;
    }

    &:not([disabled])[loading] {
        background-color: var(--neutral-600);
        box-shadow: unset;
    }

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
        background-color: var(--neutral-800);
        color: var(--neutral-0);
        box-shadow: var(--box-shadow-base);
    }

    .text {
        padding: 0;
    }
}

.button[customize="secondary"] {
    background-color: var(--neutral-200);
    color: var(--neutral-800);
    padding: var(--size-sm) var(--size-m);
    font: var(--body-lg-sb);
    min-width: unset;

    &:not([disabled]):hover {
        background-color: var(--neutral-300);
        box-shadow: var(--box-shadow-hover);
    }

    &:focus-visible:hover,
    &:focus-visible {
        background-color: var(--neutral-300);
        box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
    }

    &:not([disabled]):active {
        background-color: var(--neutral-100);
        box-shadow: unset;
    }

    &:not([disabled])[loading] {
        background-color: var(--neutral-100);
        box-shadow: unset;
    }

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
        background-color: var(--neutral-200);
        color: var(--neutral-800);
        box-shadow: var(--box-shadow-base);
    }

    .text {
        padding: 0;
    }
}
