.emptyList {
    min-height: 455px;
    height: calc(100% - 64px - 24px);
    padding: var(--size-l);
    padding-top: var(--size-xs);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-xxl);

    .text {
        color: light-dark(var(--neutral-800), var(--neutral-dark-800));
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-m);
    }

    .title {
        font: var(--font-heading-h2);
    }

    .desc {
        font: var(--body-lg-r);
    }

    .pic {
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 319px, 0% 319px);
    }
}

.taskList {
    padding: var(--size-l);
    padding-top: 0;
    margin-top: var(--size-xs);

    display: flex;
    flex-direction: column;
    gap: var(--size-s);
}
