.taskEditor {
    background-color: var(--neutral-100);
    border-left: 1px solid var(--neutral-300);

    position: fixed;
    left: 100%;
    top: 64px;
    translate: 0 0;
    z-index: 1;

    transition: background-color var(--transition-duration), border-color var(--transition-duration), translate .4s;

    display: grid;
    grid-template-rows: 1fr 81px;
    width: 400px;
    height: calc(100dvh - var(--size-xxxl));

    .main {
        overflow-y: auto;

        .header {
            background-color: var(--neutral-100);

            position: sticky;
            top: 0;
            z-index: 2;

            padding: var(--size-l);
            padding-bottom: var(--size-m);
            display: flex;
            flex-direction: column;
            gap: var(--size-l);

            transition: color var(--transition-duration), background-color var(--transition-duration), translate .4s;

            .title {
                font: var(--font-heading-h1);
            }
        }

        .priorityBox {
            display: grid;
            grid-template-columns: 107px 1fr;
            align-items: center;
            gap: var(--size-m);

            height: 40px;
            padding: var(--size-l);
            padding-top: 0px;
            margin-top: var(--size-s);

            font: var(--font-heading-h3);

            translate: 0 -2px;
            position: relative;

            transition: color var(--transition-duration);

            .label {
                position: absolute;
                left: var(--size-l);
                top: 50%;
                translate: 0 -50%;
            }

            .buttons {
                border-radius: var(--size-s);
                outline: none;

                display: flex;
                gap: var(--size-s);

                position: absolute;
                left: calc(var(--size-l) + 91px + var(--size-m));
                z-index: 1;
            }
        }
    }

    .footer {
        padding: var(--size-m) var(--size-l);
        border-top: 1px solid var(--neutral-300);

        transition: background-color var(--transition-duration), border-color var(--transition-duration);

        .buttons {
            display: flex;
            align-items: center;
            gap: var(--size-m);

            .saveButtonWarning {
                outline-color: var(--neutral-900);
            }

            > li:has(.trash) {
                margin-left: auto;
            }

            .trash {
                width: var(--size-xxml);
                height: var(--size-xxml);
                padding: var(--size-sm);

                color: var(--primary-400);
                background-color: var(--neutral-200);

                transition: color var(--transition-duration), fill var(--transition-duration), background-color var(--transition-duration), box-shadow var(--transition-duration);

                &:not(:is([disabled], [loading], :active)):hover {
                    color: light-dark(var(--neutral-0),var(--neutral-800));
                    background-color: var(--primary-400);
                    box-shadow: var(--box-shadow-sm-hover);
                }

                &:focus-visible {
                    color: light-dark(var(--neutral-0),var(--neutral-800));
                    background-color: var(--primary-400);
                    box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
                }

                &:focus-visible:hover {
                    box-shadow: 0 0 0 2px var(--neutral-0), 0 0 0 4px var(--neutral-900), var(--box-shadow-base);
                }

                &:active {
                    color: light-dark(var(--neutral-0),var(--neutral-800));
                    background-color: var(--primary-300);
                    box-shadow: none;
                }

                &[loading] {
                    color: light-dark(var(--neutral-0),var(--neutral-800));
                    background-color: var(--primary-300);
                    box-shadow: none;
                }

                &:disabled {
                    color: var(--primary-400);
                    background-color: var(--neutral-200);
                    box-shadow: var(--box-shadow-sm-default);
                    opacity: .5;
                }
            }
        }
    }

    &[shown="true"] {
        translate: -400px 0;
    }
}

