.navbar {
    grid-area: 1/1/-1/2;

    height: calc(100dvh - 64px);
    overflow-y: auto;

    padding: var(--size-l) calc(var(--size-m) - 1px) var(--size-l) var(--size-m);

    background-color: var(--neutral-100);
    border-right: 1px solid;
    border-color: var(--neutral-300);

    transition: background-color var(--transition-duration), border-color var(--transition-duration);

    .linkList {
        display: flex;
        flex-direction: column;
        gap: var(--size-m);
    }
}