.sidebar {
    grid-area: 1/3/-1/4;

    height: calc(100dvh - 64px);
    overflow-y: auto;

    padding: var(--size-l);
    padding-left: calc(var(--size-l) - 1px);

    font: var(--body-md-r);

    transition: var(--transition);

    background-color: var(--neutral-100);
    border-left: 1px solid var(--neutral-300);
}
