.footer {
    padding: var(--size-m) var(--size-l);

    color: var(--neutral-600);
    text-align: center;

    transition: var(--transition);
}

.link {
    display: inline;
    text-decoration: underline;
    
    transition: var(--transition);
}

.link:hover {
    color: var(--neutral-800);
}

.link:focus-visible {
    color: var(--neutral-900);
    outline: none;
    box-shadow: 0 0 0 4px var(--neutral-0), 0 0 0 6px var(--neutral-800), var(--box-shadow-base);
    border-radius: 4px;
}