.footer {
    padding: var(--size-m) var(--size-l);

    color: var(--neutral-600);
    text-align: center;

    transition: color var(--transition-duration);

    .link {
        display: inline;
        text-decoration: underline;
        border-radius: 4px;
        color: var(--neutral-600);
        outline: 2px solid transparent;
        outline-offset: 4px;

        transition: color var(--transition-duration), outline-color var(--transition-duration);

        &:hover {
            color: var(--neutral-800);
        }

        &:focus-visible {
            color: var(--neutral-900);
            outline-color: var(--neutral-900);
        }
    }
}